asgiref==3.7.2
bleach==6.0.0
build==0.10.0
certifi==2023.7.22
charset-normalizer==3.2.0
contourpy==1.1.0
cycler==0.11.0
defusedxml==0.7.1
Django==4.2.3
-e git+https://github.com/jazzband/django-debug-toolbar.git@7ab6b0f4802f19a28e4141df0be70b4f0b28eae1#egg=django_debug_toolbar
django-formtools==1.0
django-polls @ file:///Users/shreyaiphonexr/Desktop/MySite/django-polls/dist/django-polls-0.1.tar.gz#sha256=93893e65afb8ac535ecb9e66f55e4c52482e176f7d93ef9e604d19d693e9371b
djangorestframework==3.14.0
docutils==0.20.1
fonttools==4.42.0
httpie==3.2.2
idna==3.4
importlib-metadata==6.8.0
jaraco.classes==3.3.0
keyring==24.2.0
kiwisolver==1.4.4
markdown-it-py==3.0.0
matplotlib==3.7.2
mdurl==0.1.2
more-itertools==10.1.0
multidict==6.0.4
numpy==1.25.2
packaging==23.1
Pillow==10.0.0
pkginfo==1.9.6
Pygments==2.16.1
pyparsing==3.0.9
pyproject_hooks==1.0.0
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2023.3
readme-renderer==40.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.5.2
six==1.16.0
sqlparse==0.4.4
tomli==2.0.1
twine==4.0.2
typing_extensions==4.7.1
urllib3==2.0.4
webencodings==0.5.1
zipp==3.16.2
