<!-- home/templates/home/home.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>Online Library - Home</title>
</head>
<body>
    <header>
        <div class="logo">
            <h1>ONLIB</h1>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'book_list' %}">Books</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="{% url 'user_dashboard' %}">User: {{ user.username }}</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                    <li><a href="{% url 'schema' %}">Documentation</a></li>
                {% else %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'book_list' %}">Books</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'user_login' %}">Login</a></li>
                        <li><a href="{% url 'schema' %}">Documentation</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h1>Welcome to the Online Library</h1>
    <h2>Top 10 Most Viewed Books</h2>
    <div class="book-list">
        {% for book in top_books %}
        <div class="book-card">
            <img src="{{ book.cover_image.url }}" alt="{{ book.title }} Cover">
            <div class="book-details">
                <h3>{{ book.title }}</h3>
                <p>Author: {{ book.author }}</p>
                <p>{{ book.summary }}</p>
                <p>Genres: {{ book.genres.all|join:", " }}</p>
                <p>Star Rating: {{ book.star_rating }}/5</p>
                <a href="{% url 'add_to_cart' book.id %}" class="add-to-cart">Add to Cart</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
