<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <header>
        <div class="logo">
            <h1>ONLIB</h1>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'book_list' %}">Books</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="{% url 'user_dashboard' %}">User: {{ user.username }}</a></li>
                    <li><a href="{% url 'schema' %}">Documentation</a></li>
                {% else %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'book_list' %}">Books</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'user_login' %}">Login</a></li>
                        <li><a href="{% url 'schema' %}">Documentation</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h1>Welcome, {{ user.username }}</h1>
    <h2>Currently Renting</h2>
    <ul>
        {% for rental in rented_books %}
        <li>{{ rental.book.title }} (Due: {{ rental.due_date|date:"F d, Y" }})</li>
        {% endfor %}
    </ul>
    <h2>Past Rentals</h2>
    <ul>
        {% for rental in past_rentals %}
        <li>{{ rental.book.title }} (Returned on: {{ rental.returned_date|date:"F d, Y" }})</li>
        {% endfor %}
    </ul>
</body>
</html>
