<!-- cart/templates/cart/cart.html -->
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Cart</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>
<body>
    <header>
        <div class="logo">
            <h1>ONLIB</h1>
        </div>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'book_list' %}">Books</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="{% url 'user_dashboard' %}">User: {{ user.username }}</a></li>
                    <li><a href="{% url 'schema' %}">Documentation</a></li>
                {% else %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'book_list' %}">Books</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'user_login' %}">Login</a></li>
                        <li><a href="{% url 'schema' %}">Documentation</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <h1>{{user.username}} Cart</h1>
    <ul>
        {% for item in cart_items %}
        <li>
            {{ item.book.title }}
            <a href="{% url 'remove_from_cart' item.id %}" class="remove-from-cart">Remove</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
